/*
    ===========================
    CSS RESET
    ===========================
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
    ============================
    ROOT & UTILITIES
    ============================
*/

:root {
    --primary-color: #6500ff;
    --bg-banner-offer: #e3e3e3;
}

.txt-secondary {
    color: #9c9297;
}

body {
    min-width: 320px;
    max-width: 1200px;
    font-family: sans-serif;
}

/*
    ================================
    HEADER
    ================================
*/

.header {
    margin: 20px;
}

.header-title {
    margin-bottom: 5px;
}

.container-input {
    text-align: right;
    margin-top: 5px;
}

/*
    =============================
    MAIN
    =============================
*/

.container-main {
    min-height: 100vh;
}

/*
    ============================
    PLANS
    ============================
*/

.plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.plan {
    min-width: 300px;
    flex-basis: calc((100% / 3) - (20px * 2) / 3);
}

.plan-features {
    list-style-type: none;
}